th,td{
  padding: 15px;
  text-align: left;
  font-family: Arial,sans-serif;
}

th{
    background-color:silver;
    color:#808080;
  
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-bottom: 1px solid #ddd;
  }